*, *::before, *::after {
  box-sizing: border-box;
}
html{
  font-size: 10px;
  font-family: 'Noto Sans KR', sans-serif;
}

html,body,h1,h2,h3,h4,h5,h6,dl,dt,dd,fieldset,button,p{
  margin: 0;
  padding: 0;
}
ul,ol,li{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
button {
  border: 0;
  cursor: pointer;
  background-color: inherit;
}